<div class="container vw-100 col-md-10 mt-2" *ngIf="shops && categories && isModifying != undefined">
  <form [formGroup]="productForm" class="form-outline">
    <div class="d-inline-flex w-100 gap-2 align-content-stretch mb-2">
      <input class="form-control"
             required type="text"
             [ngClass]="{ 'is-valid' : productForm.get('productName')!.valid, 'is-invalid' : productForm.get('productName')!.invalid }"
             minlength="5" formControlName="productName" placeholder="Name" value="test"
      />
      <div>
        <div *ngIf="productForm.get('productName')!.invalid">
          Le nom doit être composé d'au moins 5 caractères.
        </div>
      </div>
      <ngx-bootstrap-multiselect class="multi-select" [options]="categories" aria-placeholder="test"
                                 [settings]="mySettings" [texts]="myTexts" formControlName="productCategories"
                                 (added)="sortFormCategories()">
      </ngx-bootstrap-multiselect>

      <div ngbDropdown>
        <button type="button" class="btn btn-primary text-truncate" id="dropdownBasic1" ngbDropdownToggle
                [value]="productForm.controls['productShop']!.value">
          {{productForm.value.productShop.name}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let shop of shops"
                  (click)="productForm.controls['productShop'].setValue(shop)">{{shop.name}}</button>
        </div>
      </div>


    </div>


    <textarea class="form-control mb-2" type="textarea" name="productDescription"
              placeholder="Description"
              [ngClass]="{ 'is-valid' : productForm.get('productDescription')!.valid, 'is-invalid' : productForm.get('productDescription')!.invalid }"
              rows="10" formControlName="productDescription"></textarea>

    <input class="form-control mb-5" type="number" name="productPrice" placeholder="Price"
           [ngClass]="{ 'is-valid' : productForm.get('productPrice')!.valid, 'is-invalid' : productForm.get('productPrice')!.invalid }"
           min="0"
           formControlName="productPrice"/>

    <div class="d-inline-flex w-100 gap-2 align-content-stretch mb-2">
      <input class="form-control mb-2"
             type="text"
             [ngClass]="{'is-valid' : productForm.get('productTranslationName')!.value.length > 0 && productForm.get('productTranslationName')!.valid,
                        'is-invalid' : productForm.get('productTranslationName')!.invalid }"
             (input)="changeCurrentTranslation()"
             minlength="5" formControlName="productTranslationName" placeholder="Name" value="test"
      />
      <div>
        <div *ngIf="productForm.get('productTranslationLanguage')!.invalid">
          Le nom doit être composé d'au moins 5 caractères.
        </div>
      </div>
      <div ngbDropdown>
        <button type="button" class="btn btn-primary text-truncate" id="dropdownBasic2"
                [disabled]="productForm.get('productTranslationName')!.invalid || productForm.get('productTranslationDescription')!.invalid"
                [value]="productForm.controls['productTranslationLanguage']!.value" ngbDropdownToggle>
          {{productForm.controls['productTranslationLanguage']!.value}}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let language of languages"
                  (click)="setCurrentTranslationLanguage(language)">{{language}}</button>
        </div>
      </div>
    </div>

    <textarea class="form-control mb-4" type="textarea" name="productDescription"
              placeholder="Description"
              [ngClass]="{ 'is-valid': productForm.get('productTranslationDescription')!.value.length > 0 && productForm.get('productDescription')!.valid,
                           'is-invalid': productForm.get('productDescription')!.invalid }"
              rows="10" formControlName="productTranslationDescription"
              (input)="changeCurrentTranslation()"></textarea>


    <input class="btn btn-primary form-control" type="submit" value="{{ isModifying ? 'Modifier' : 'Créer' }}"
           [disabled]="productForm.invalid"
           (click)="isModifying ? modifyProduct(productId) : createProduct()">
  </form>

</div>
