:host {
  width: 75% !important;
}


h2, h3 {
  text-align: center;
}

p {
  justify-content: center;
}

.shop-name, .category-link {
  color: black;
  text-decoration: none;
}

.multi-select {
  width: 100% !important;
  margin: 0 !important;
}
