<div class="container mt-5" *ngIf="product">
  <div class="d-flex flex-row justify-content-center align-items-center gap-2">
    <h2>{{ productVersions[currentVersion].translatedName }}</h2>
    <div ngbDropdown>
      <button type="button" class="btn btn-primary text-truncate" id="dropdownBasic2"
              ngbDropdownToggle>
        {{ currentVersion }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem *ngFor="let translationEntry of productVersions | keyvalue"
                (click)="currentVersion = translationEntry.key"
        >{{translationEntry.key}}</button>
      </div>
    </div>
  </div>
  <h3><a class="shop-name" href="shop/{{ product.shopId }}">{{ product.shopName }}</a></h3>
  <h4>${{ product.price }}</h4>

  <div class="mt-1 mb-1 spec-1">
    <ng-container *ngFor="let category of product.categories; let categoryIndex = index">
      <a class="category-link" href="category/details/{{ category.id }}">{{ category.name }}</a>
      <span *ngIf="categoryIndex < product!.categories.length - 1" class="dot"></span>
    </ng-container>
  </div>

  <p>{{ productVersions[currentVersion].translatedDescription }}</p>

  <a class="btn btn-primary form-control mb-2" href="product/modify/{{ product.id }}">Modifier</a>
  <a class="btn btn-primary form-control" (click)="deleteProduct()">Supprimer</a>

</div>
