<nav class="navbar top-navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-brand btn btn-link" href="#">AMAZO</button>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <button class="btn btn-link">Shops</button>
      <button class="btn btn-link">Products</button>
    </div>
  </div>
</nav>

<div class="page-content">

  <app-product-list></app-product-list>

</div>
