<div class="m-2 d-inline-flex align-items-center gap-5">
  <div class="input-group ">
    <div class="form-outline d-inline-flex align-items-center justify-content-center gap-1">
      <input type="search" id="form1" class="form-control" placeholder="Nom" [ngModel]="nameFilterValue"
             (ngModelChange)="filterName($event)"/>
      <input type="number" class="form-control w-25 mx-1" aria-label="Min" placeholder="Nb min" min="0"
             [ngModel]="minNbrProductFilterValue" (ngModelChange)="filterMinNbrProductFilterValue($event)"/>
      <input type="number" class="form-control w-25" aria-label="Max" placeholder="Nb max" min="0"
             [ngModel]="maxNbrProductFilterValue" (ngModelChange)="filterMaxNbrProductFilterValue($event)"/>

      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="pickerMin" autocomplete="off"
               [ngModel]="minCreationDateValueFilterValue" (ngModelChange)="filterMinDateFilterValue($event)"/>
        <mat-datepicker-toggle matSuffix [for]="pickerMin"></mat-datepicker-toggle>
        <mat-datepicker #pickerMin color="primary"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="pickerMax" autocomplete="off"
               [ngModel]="maxCreationDateValueFilterValue" (ngModelChange)="filterMaxDateFilterValue($event)"/>
        <mat-datepicker-toggle matSuffix [for]="pickerMax"></mat-datepicker-toggle>
        <mat-datepicker #pickerMax color="primary"></mat-datepicker>
      </mat-form-field>

      <div ngbDropdown class="d-inline-flex">
        <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
          {{ currentSorter.name }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let sorter of sorters" (click)="sortWith(sorter)">{{sorter.name}}</button>
        </div>
      </div>
    </div>

  </div>

  <a id="add-button" class="btn btn-outline-primary" href="shop/create">Créer</a>
</div>

<div class="container mb-5 shop-list-container">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10">
      <ng-container *ngFor="let shop of displayedShops; let shopIndex = index">
        <div [ngClass]="{'visually-hidden' : !(shopIndex >= topShopIndex - 1 && shopIndex < topShopIndex + maxShopPerPage - 1)}"
          class="row p-2 bg-white border rounded">
          <div class="d-inline-flex flex-row mt-0">
                <div class="border-left col-md-9">
                  <h5 class="text-truncate">{{ shop.name }}</h5>
                  <p>Produit(s) disponible(s): {{shop.productList.length}}</p>
                </div>

                <div class="align-items-center col-md-3 align-content-center justify-item-center border-right mt-1">
                  <div *ngIf="shop.isOnLeave; else isNotOnLeave" class="d-flex flex-column  align-items-center">
                    <p>En congé</p>
                  </div>
                  <div class="d-flex flex-row justify-content-center align-items-center">
                    <p>{{ shop.creationDate.getDate()}}/{{shop.creationDate.getMonth()+1}}/{{shop.creationDate.getFullYear() }}</p>
                  </div>
                  <div class="d-flex flex-column">
                    <a class="btn btn-primary btn-sm btn-primary" href="shop/details/{{ shop.id }}">Détails</a>
                  </div>
                </div>
          </div>
          <div class="d-inline-flex flex-row gap-4">
            <ng-container  *ngFor="let openingTimes of shop.openingTimesList; let i = index">
              <div>
                <h6>{{ getDayFromNumber(i) }}</h6>
                <div *ngIf="openingTimes.openingTime; else closedShop">
                  <p>{{ openingTimes.openingTime }} - {{ openingTimes.closingTime }}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link border" [ngClass]="{'disabled': activePageNumber == 1}"
         (click)="displayShopsPage(1)">Premier</a>
    </li>
    <li class="page-item">
      <a class="page-link border" [ngClass]="{'disabled': activePageNumber == 1}"
         (click)="displayShopsPage(activePageNumber-1)">Précédent</a>
    </li>
    <ng-container *ngFor="let item of [].constructor(visibleNavPages); let i = index">
      <li class="page-item" [ngClass]="{'active' : activePageNumber == i + firstNavPage}">
        <a class="page-link border" (click)="displayShopsPage(i + firstNavPage)">
          {{ ((i + firstNavPage) / 10 >= 1 ? '' : '0') + (i + firstNavPage).toString()}}
        </a>
      </li>
    </ng-container>
    <li class="page-item">
      <a class="page-link border" [ngClass]="{'disabled': activePageNumber >= totalNavPagesNumber}"
         (click)="displayShopsPage(activePageNumber+1)">Suivant</a>
    </li>
    <li class="page-item">
      <a class="page-link border" [ngClass]="{'disabled': activePageNumber >= totalNavPagesNumber}"
         (click)="displayShopsPage(totalNavPagesNumber)">Dernier</a>
    </li>
  </ul>
</nav>

<ng-template #closedShop>
  <p>Fermé</p>
</ng-template>

<ng-template #isNotOnLeave>
  <div class="d-flex flex-column  align-items-center">
  <p>Ouvert</p>
  </div>
</ng-template>
