@import '@angular/material/prebuilt-themes/indigo-pink.css';

.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: var(--bs-gray-dark);
  border-radius: 50%;
  display: inline-block
}

* {
  font-family: Roboto;
}

.mat-form-field-underline {
  display: none;
}
