<div class="container mt-5" *ngIf="shop">

  <div class="d-flex flex-row justify-content-center align-items-center gap-2">
    <h2>{{shop.name}}</h2>
    <a class="btn btn-primary" href="shop/modify/{{ shop.id }}">Modifier</a>
  </div>
  <p class="text-center">Date de création: {{shop.creationDate.getDate()}}/{{shop.creationDate.getMonth()+1}}/{{shop.creationDate.getFullYear()}}</p>
  <div>

    <div class="d-flex flex-column align-items-center">
      <p *ngIf="shop.isOnLeave; else isNotOnLeave">En congé</p>
    </div>

  <h4>Horaires</h4>
    <div class="d-inline-flex flex-row gap-4">
      <ng-container  *ngFor="let openingTimes of shop.openingTimesList; let i = index">
        <div>
          <h6>{{ getDayFromNumber(i) }}</h6>
          <div *ngIf="openingTimes.openingTime; else closedShop">
            <p>{{ openingTimes.openingTime }} - {{ openingTimes.closingTime }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <h4>Produit(s) disponible(s)</h4>
  <app-product-list [shopId]="shop.id"></app-product-list>

</div>

<ng-template #closedShop>
  <p>Fermé</p>
</ng-template>

<ng-template #isNotOnLeave>
    <p>Ouvert</p>
</ng-template>

